@model ClinicaVeterinariaApp.Models.Email

@{
    ViewBag.Title = "Contact";
}



@using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="container">

        <div class=" text-center pt-5 ">
            <h2 class="text-center">Contattaci!</h2>
        </div>
        <hr />

        <div class="row ">
            <div class="col-lg-7 mx-auto">
                <div class="card mt-2 mx-auto p-4 bg-light">
                    <div class="card-body bg-light">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.EmailSendUser, htmlAttributes: new { @class = "control-label" })
                                        <div class="col-md-10 ">
                                            @Html.EditorFor(model => model.EmailSendUser, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.EmailSendUser, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ObjectMessage, htmlAttributes: new { @class = "control-label" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.ObjectMessage, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ObjectMessage, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row text-center">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label" })
                                        <div class="col-md-10">
                                            @*@Html.TextAreaFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })*@
                                            <textarea id="Message" name="Message" cols="50" class="form-control"></textarea>
                                            @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex text-center m-3">
                                    <label for="AttachmentChk">Allegato</label>
                                    <input type="checkbox" id="AttachmentChk" class="ms-2" />

                                    <div id="BoxAttachmentChk">

                                        <div>


                                            <div class="form-group">
                                                <div class="col text-center">
                                                    @Html.TextBoxFor(model => model.Attachment, new { @class = "form-control ms-2" , @type = "file" })
                                                    @Html.ValidationMessageFor(model => model.Attachment, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Invia" class="btn btn-outline-success" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center mt-5">
            <div class="col-md-12">
                <h3>Visita i nostri social!</h3>
                <hr />
                <ul class="list-unstyled list-inline text-center d-flex mt-2 w-50 justify-content-between mx-auto">
                    <li>
                        <a href="https://www.instagram.com/" class="btn btn-outline-success fs-3"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="https://web.telegram.org/" class="btn btn-outline-success fs-3"><i class="fa-brands fa-telegram"></i></a>
                    </li>
                    <li>
                        <a href="https://it-it.facebook.com/" class="btn btn-outline-success fs-3"><i class="fa-brands fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="tel:0123456789" class="btn btn-outline-success fs-3"><i class="fa-solid fa-phone-flip"></i></a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
}


<script>
    $(document).ready(function () {
        $("#BoxAttachmentChk").hide();

        $('#AttachmentChk').change(function () {

            $("#BoxAttachmentChk").slideToggle(600);
        }
        )
    })
</script>