@model ClinicaVeterinariaApp.Models.Animals

@{
    ViewBag.Title = "Details";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-5 " style="width:auto">
            <h4>Dettagli Animale </h4>
            <hr />

            <div class="card" style="width: 18rem;">
                @{ if (!Model.HasOwner)
                    {
                        <img src="~/Content/FileUpload/@Model.UrlPhoto" alt="Immagine animale" />
                    } }
                <div class="card-body">
                    <h5> Nome: @Html.DisplayFor(model => model.Name)</h5>

                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Specie: @Html.DisplayFor(model => model.Species.Specie)</li>
                    <li class="list-group-item">Colore: @Html.DisplayFor(model => model.Color)</li>
                    <li class="list-group-item">Data di nascita: @Html.DisplayFor(model => model.BirthDate)</li>
                    <li class="list-group-item">Data di registrazione: @Html.DisplayFor(model => model.RegisterDate)</li>
                    @{ if (Model.HasChip)
                        {
                            <li class="list-group-item">Numero chip: @Html.DisplayFor(model => model.ChipNumber)</li>
                        } }
                    @{ if (Model.HasOwner)
                        {
                            <li class="list-group-item">Nome proprietario: @Html.DisplayFor(model => model.OwnerName)</li>
                            <li class="list-group-item">Cognome proprietario: @Html.DisplayFor(model => model.OwnerLastname)</li>
                        } }
                </ul>
            </div>

        </div>
        <div class="col-5" style="width:auto">

            @{
                Html.RenderAction("_VisitList", "Exams", new { id = Model.IDAnimal });
            }
            <p>
                @Html.ActionLink("Aggiungi visita", "Create", "Exams", new { id = Model.IDAnimal }, new { @class = "btn btn-outline-success" })
            </p>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Torna all'anagrafica degli animali", "Index", "Animals", null, new { @class = "btn btn-outline-info mt-3" })
</div>



