@model IEnumerable<ClinicaVeterinariaApp.Models.Species>

@{
    ViewBag.Title = "Specie";
}

<h2 class="page-title">Le specie presenti all'interno della clinica</h2>

<p>
    <a href="@Url.Action("Create", "Species")" class="btn btn-success col-4 offset-4 my-3">Aggiungi una specie</a>
</p>
<table class="table table-success table-striped" id="species-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Specie)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Specie)
        </td>
        <td>
            <a href="@Url.Action("Edit", "Species", new { id = item.SpecieID })"><i class="fa-solid fa-pen-to-square text-success"></i></a> |
            <a href="@Url.Action("Details", "Species", new { id = item.SpecieID })"><i class="fa-solid fa-circle-info text-warning"></i></a> |
            <a href="@Url.Action("Delete", "Species", new { id = item.SpecieID })"><i class="fa-solid fa-trash text-danger"></i></a> 
        </td>
    </tr>
}

</table>
