@model IEnumerable<ClinicaVeterinariaApp.Models.Exams>


<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.ExamDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExamNotes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.ExamDate)

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Exam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExamNotes)
        </td>
        @if (Roles.IsUserInRole("admin"))
        {
            <td>
                @Html.ActionLink("Aggiorna", "Edit", new { id = item.ExamID }, new { @class = "btn btn-outline-warning" })
            </td>
        }
        else
        {
            <td>
                @Html.ActionLink("Aggiorna", "Edit", new { id = item.ExamID }, new { @class = "btn btn-outline-warning disabled" })
            </td>
        }

    </tr>
}

</table>
