@model ClinicaVeterinariaApp.Models.Exams

@{
    ViewBag.Title = "Create";
}

<h2 class="text-center pt-3 mt-3">Aggiungi una nuova visita</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">

        <div class="row  justify-content-center">
            <div class="form-horizontal" style="width:auto">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                
                <div class="form-group mb-5">
                    @Html.LabelFor(model => model.Exam, htmlAttributes: new { @class = "control-label " })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.Exam, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Exam, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ExamNotes, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.ExamNotes, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ExamNotes, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group text-center">
                    <div class="col-md-auto">

                        <input type="submit" value="Aggiungi!" class="btn btn-default btn-species mt-5" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Torna all'anagrafica degli animali", "Index", "Animals", null, new { @class = "btn btn-default mb-5 ms-3 mt-4 btn-species" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
