<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://kit.fontawesome.com/9a79bd6bbb.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand">@Html.ActionLink("Home", "Index", "Home")</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul ul class="nav navbar-nav" style="float:right">
                    <li class="nav-item">
                        <a class="nav-link">@Html.ActionLink("Cerca", "Search", "Home")</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">@Html.ActionLink("Contatti", "Contact", "Home")</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Logout","Users")">Log out</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Login","Users")">Log In</a>
                        </li>

                    }

                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
    </div>

    <hr />
    <footer class="footer navbar-fixed-bottom text-center">
        <div>

            <div>

                <p>&copy; @DateTime.Now.Year - Clinica Vetrinaria</p>

            </div>

            <div>
                <ul class="list-unstyled list-inline">
                    <li>
                        <button href="mailto:example@mail.it"><i class="bi bi-envelope-at-fill"></i></button>
                    </li>
                    <li>
                        <button href="https://web.telegram.org/" ><i class="bi bi-telegram"></i></button>
                    </li>
                    <li>
                        <button href="https://it-it.facebook.com/" ><i class="bi bi-facebook"></i></button>
                    </li>
                    <li>
                        <button href="tel:0123456789"><i class="bi bi-telephone-fill"></i></button>
                    </li>
                </ul>
            </div>

            <div>
                @if (User.IsInRole("admin"))
                {
                    <a href="@Url.Action("Index", "Users")" class="btn btn-link">Gestione Dipendenti</a>
                }

            </div>

        </div>


    </footer>



</body>
</html>
