@model ClinicaVeterinariaApp.Models.Users

@{
    ViewBag.Title = "Delete";
}

<h3 class="page-title pt-5">Sicuro di eliminare questo utente?</h3>
<div class="container">
    
    <hr />
    <dl class="dl-horizontal text-center">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

       

        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color text-center pt-5">
            <input type="submit" value="Delete" class="btn btn-outline-danger" /> |
            @Html.ActionLink("Back to List", "Index", "Users", null , new { @class= "btn btn-default"})
        </div>
    }
</div>
