@model IEnumerable<ClinicaVeterinariaApp.Models.Users>

@{
    ViewBag.Title = "Index";
}

<h2>Utenti registrati</h2>

<p>
    @Html.ActionLink("Aggiungi dipendente", "SignIn", "Users", null, new { @class = "btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
       
        <td>
            <a href="@Url.Action("Delete", "Users", new { id = item.UserID })" class="btn btn-danger" ><i class="fa-solid fa-trash"></i></a>
        </td>
    </tr>
}

</table>
