@model ClinicaVeterinariaApp.Models.Users

@{
    ViewBag.Title = "Login";
}
<div class="container text-center">
    <h2>Login</h2>
    @if (ViewBag.LoginErr != null)
    {
        <p>@ViewBag.LoginErr</p>
    }

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col">
                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control mx-auto" } })
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control mx-auto", @type = "password" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group d-flex justify-content-center mt-2">
                        @Html.LabelFor(model => model.RememberMe, htmlAttributes: new { @class = "control-label" })
                    <div>
                        <div class="checkbox ms-2">
                            @Html.EditorFor(model => model.RememberMe)
                            @Html.ValidationMessageFor(model => model.RememberMe, "", new { @class = "text-danger" })
                        </div>
                    </div>
            </div>

            <div class="form-group">
                <div class="d-block text-center">
                    <input type="submit" value="Login" class="btn btn-species mt-3" />
                </div>
            </div>
        </div>
    }
</div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
